minimisation
 &cntrl
   imin = 1, ntmin = 2,
   maxcyc = 100,
   ntpr = 20, ntwe = 20,
   ntb = 1,
   restraintmask='!:WAT & !@H=',
   ibelly = 1,
   bellymask =':WAT',
   icfe = 1, clambda = %L%, scalpha = 0.5, scbeta = 12.0,
   logdvdl = 0,
   %FE%
 /
 &ewald
  eedmeth=4,
 / 

